.footer {
  background-color: red;
  bottom: 0;
  color: white;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
/* .list-ingredients {
  list-style: none;
} */

.btn-start-recipe {
  bottom: 0;
  color: red;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.btn-favorite {
  background-color: transparent;
  border: 1px solid #ffffff00;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

